<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login as {{ param['name'] }} with security {{param['securityLevel']}}</h1>
<form method="post">
    <input type="text" hidden value={{param['securityLevel']}} name="sl"/>
    Name
    <input type="text" name="name" value={{param['name']}} />
    Password
    <input type="password" name="pwd"/>
    {% if param['pwd2']=='True' %}
        Password 2
        <input type="password" name="pwd2"/>
    {% endif %}
    <input type="submit" value="Login"/>
</form>
</body>
</html>